<!DOCTYPE html>
<html>
<head>
    <title>Job Details</title>
    {% include 'bootstrap.html' %}
 
</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  <div class="container">
    <h1 class="text-center mt-2 mb -4">Swing By Career</h1>
    <h1>Title: {{ job.title }}</h1>
    <p>ID: {{ job.id }}</p>
    <p>Location: {{ job.location }}</p>
    <p>Salary: {{ job.salary }}</p>
    <h4>Responsibilities:</h4>
    <ul>
      {% for line in job.responsibilities.split('\n') %}
        <li>{{ line }}</li>
      {% endfor %}  
    </ul>
    <p>{{ job.responsibilities }}</p>
    <h4>Requirements:</h4>
    <ol>
      {% for line in job.requirements.split('\n') %}
        <li>{{ line }}</li>
      {% endfor %}  
    </ol>
    <p>{{ job.requirements }}</p>
    
    <!-- Add more details as needed -->
    {%include 'application_form.html'%}
  </div>

   {% include 'footer.html' %}
</body>
</html>
